body {
    padding: 20px;
    color: rgb(34, 31, 31);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
li {
    list-style-type: none;
}
#userAccounts {
    border-bottom: black solid 2px;
    width: 50%;
}
#options a{
    text-decoration: none;
    color: rgb(44, 76, 136);
    border: black solid 1px;
    padding: 2px;
}
.opt {
    margin-bottom: 10px;
}
.boldType {
    font-weight: bold;
    color: rgb(44, 76, 136);
}
/*color: rgb(44, 76, 136);*/